body {
    background: #222831;
    font-family: Arial, sans-serif;
  }


/* 
 --- Nav Bar Style --- 
*/
nav {
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

nav ul li {
  display: inline;
}

nav ul li.name {
  text-decoration: none;
  color: white;
  padding: 10px 0px;
  width: 80%;
  display: inline-block;
  position: left;
  overflow: hidden;
}
  
a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: inline-block;
  position: relative;
  overflow: hidden; /* Ensures no overflow of pseudo-elements */
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; /* Center the line */
  width: 0; /* Start with no line */
  height: 2px;
  background-color: white;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  transform: translateX(-50%); /* Center the transformation origin */
}

a:hover::after {
  width: 100%; /* Extend to full width of the text */
  left: 0; /* Start from the very left */
  transform: translateX(0%); /* Normalize transformation to start from left */
}

a:hover {
  color: #ff6347; /* Optional: change text color on hover */
}


/*
 --- Main Introduction Style ---
*/
div.main {
  color: white;
  padding: 10px 20px;
  display: inline;
}

div.intro {
  flex-wrap: wrap;
  text-align: left;
  float: left;
  padding: 10px 20px;
}

/*
 --- Profile Picture Style ---
*/
img.profile {
  float: right;
  padding: 10px 20px;
}
